[submodule ".emacs.d/emacs-powerline"]
	path = .emacs.d/emacs-powerline
	url = https://github.com/jonathanchu/emacs-powerline.git
[submodule "bin/powerlevel9k"]
	path = bin/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule "bin/sh_scripts"]
	path = bin/sh_scripts
	url = https://github.com/SweatyNerdsNMyRepo/sh_scripts.git
