#Ignore everything - whitelist
/*
!/.gitignore
!/.emacs.d
!/.emacs.d/*
!/.config/i3/config
!/.profile
!/.zlogin
!/.zshrc
!/.xinitrc
!/.Xresources
!/.config/i3/*
!/.XResources
!/.fonts/**
!/.aliases
!/arch_pkgs
!/community_pkgs
~/.emacs.d/*~
.emacs.d/tramp
.emacs.d/network-security.data
.emacs.d/auto-save-list
